[Unit]
Description = Music Queue Telegram Bot
After = network.target

[Service]
WorkingDirectory = /home/tikhon/music-queue-bot/

User = tikhon
ExecStartPre = ./startup.sh
ExecStart = /home/tikhon/music-queue-bot/env/bin/python music_queue_bot.py
Restart = on-failure

[Install]
WantedBy = multi-user.target
